body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
}

header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

#screenshots img {
    max-width: 100%;
    margin-bottom: 20px;
}

#trailer video {
    max-width: 100%;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
section#advantages {
  padding: 50px;
  background-color: #f5f5f5;
}

section#advantages h2 {
  margin-bottom: 30px;
  text-align: center;
}

section#advantages ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section#advantages ul li {
  width: 250px;
  margin: 10px;
  text-align: center;
}

section#advantages ul li i {
  font-size: 2em;
  margin-bottom: 15px;
  color: #3399ff;
}
.center {
    display: flex;
    justify-content: center;
}
